<!DOCTYPE html>
<html lang="English" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <h2>Welcome to Kaiwa Chat</h2>
    <div sec:authorize="isAuthenticated()">
        <p>Hello, <span sec:authentication="name"></span>!</p>
        <p> Hi Would you like to chat</p>
        <a th:href="@{/chat}">Go to Chat Room</a> |
        <a th:href="@{/logout}">Logout</a>
    </div>
<!--    <div sec:authorize="!isAuthenticated()">-->
<!--        <a th:href="@{/login}">Login</a> |-->
<!--        <a th:href="@{/register}">Register</a>-->
<!--    </div>-->
</body>
</html>
